<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #1DA1F2">
    <div class="my-auto mx-4">
        <a class="navbar-brand text-white text-decoration-none " href="<%=root_path %>">Twitter<i class="fab fa-twitter mx-1"></i></a>
    </div>
    <ul class="navbar-nav">
        <% if user_signed_in? %>
            <li><%= button_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-primary mx-4'  %></li>
        <% else %>
            
            <li><%= button_to 'Ingresar', new_user_session_path, :class => 'btn btn-primary mx-4' %></li>
            <li><%= button_to 'Registrarse', new_user_registration_path, method: :get, :class => 'btn btn-primary mx-4' %></li>
        <% end %>
    </ul>
    
    <% if user_signed_in?  %>
        <div class="container text-decoration-none">
            <b class=" text-decoration-none"><p style="color:black" >Bienvenido(a):  <%= current_user.user_name %>
            <% if current_user.avatar.attached?  %>
                <%= image_tag current_user.avatar.variant(resize: "50x50!" ), class:"rounded-circle mb-2"%></p></b>
            <% end %>    
        </div>

    <%end%> 
    
</nav>


